node_modules
.env
.vercel

# Sentry Config File
.env.sentry-build-plugin

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.playwright-mcp/

# Build artifacts
build/
dist/

# Temporary files
*.log
*.tmp
*.temp
*.swp
*.bak
*.old
%USERPROFILE%/

# OS files
.DS_Store
Thumbs.db
